.form {
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-columns: 1fr auto;
  flex-wrap: wrap;
  margin: 10px;
}
@media (max-width: 767px) {
  .form {
    grid-template-columns: 1fr;
    margin: 10px;
  }
}

.form__input {
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  border: 1px solid #ededed;
  align-self: center;
  margin-right: 10px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .form__input {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.form__button {
  background-color: teal;
  border: none;
  color: white;
  padding: 10px;
  transition: 1s;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.form__button:hover {
  transform: scale(1.1);
  background-color: hsl(180, 100%, 35%);
}

.form__button:active {
  background-color: hsl(180, 100%, 45%);
}
