.tasks__body {
  color: #222;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 10px;
  width: 100%;
}

.tasks__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 15px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.tasks {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

.task__done {
  text-decoration: line-through;
}

.tasks__item--hide {
  display: none;
}

.tasks__button {
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  color: white;
  display: grid;
  align-items: center;
  transition: 1s;
  cursor: pointer;
}

.tasks__button--done {
  background-color: rgb(2, 175, 2);
}

.tasks__button--done:hover {
  background-color: hsla(120, 98%, 35%, 0.853);
}

.tasks__button--done:active {
  background-color: hsla(120, 98%, 45%, 0.853);
}

.tasks__button--remove {
  background-color: hsl(0, 100%, 50%);
}

.tasks__button--remove:hover {
  background-color: hsl(0, 80%, 59%);
}

.tasks__button--remove:active {
  background-color: rgb(255, 88, 88);
}
