.buttons {
  justify-self: flex-end;
  align-self: center;
  font-weight: 300;
  color: teal;
  transition: 1s;
  border: none;
  background-color: #fff;
}

.buttons__item {
  font-weight: 300;
  color: teal;
  transition: 1s;
  border: none;
  background-color: #fff;
}

.buttons__item:hover {
  color: hsl(180, 100%, 35%);
  cursor: pointer;
}

.buttons__item:disabled {
  color: grey;
  cursor: not-allowed;
}
